<!-- NAV BAR -->
<div class="navbar navbar-dark row sticky-top text-center py-0 px-4 bg-primary" id="nav-bar">
  <div class="container">
    <a class="navbar-brand d-none d-lg-block col col-lg-auto order-lg-1" href="#">
      <img src="./images/logo-icon.png" alt="[TC]">
      <img src="./images/logo-text.png" alt="TinyCards">
    </a>
    <!--home-->
    <a class="col col-lg-auto order-1 order-lg-3 text-white nav-link nav-item py-3" id="nav-home" href="/home">
      <i class="fa fa-home"></i>
      <span class="d-none d-lg-inline">HOME</span>
    </a>
    <!--search on mobile-->
    <a id="nav-search-mobile" class="col col-lg-auto order-2 text-white d-lg-none d-block nav-link py-3" (click)="showHideSearch()">
      <span class="d-block d-lg-none">
        <i class="fa fa-search"></i>
      </span>
    </a>
    <!-- search on PC -->
    <div class="col col-lg-auto order-lg-2 mr-lg-auto d-none d-lg-block nav-link" id="nav-search-pc">
      <form ngNoForm action="./search" class="my-2 my-lg-0" style="position: relative;">
        <input class="form-control" name="deck" type="text" placeholder="Search" aria-label="Search" style="padding-left: 40px; padding-right: 40px;">
        <div style="position: absolute; top: 0 ; left: 15px; line-height: 38px; color: #32cdff;">
          <i class="fa fa-search"></i>
        </div>
        <div class="d-none d-lg-none" id="close-search" style="position: absolute; top: 0 ; right: 15px; line-height: 38px; color: #32cdff;"
        (click)="showHideSearch()">
          <i class="fa fa-times"></i>
        </div>
      </form>
    </div>
    <!--create-->
    <a routerLink="/create" routerLinkActive="active" class="col col-lg-auto order-3 order-lg-4 text-white nav-link py-3" id="nav-create">
      <i class="fa fa-plus"></i>
      <span class="d-none d-lg-inline">CREATE</span>
    </a>
    <!--profile-->
    <a routerLink="/profile" routerLinkActive="active" class="col col-lg-auto order-4 order-lg-5 text-white nav-link py-3" id="nav-profile">
      <i class="fa fa-user"></i>
      <span class="d-none d-lg-inline text-uppercase">{{userData.name}}</span>
    </a>
  </div>
</div>